{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Action</h1>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
{% endblock %}