{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <div class="dropdown pull-right">
            <i class="fa fa-cogs dropdown-toggle pointer-hand"
               data-toggle="dropdown"
            >
            </i>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('formalibrePiaActionCreate') }}">
                        Créer une action
                    </a>
                </li>
            </ul>
        </div>
        <h1>
            Actions possibles
        </h1>
    </div>
    <div class="panel-body">
        <table class="table">
        {% for action in actions %}
            <tr>
                <td>
                    <a href="{{ path ('formalibrePiaActionEdit', {'action' : action.id()}) }}">
                        {{ action.Name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}